<table class="table task-table">
	<thead class="task-table__header">
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Priority</th>
		<th>Completed</th>
		<th>Date</th>
		<th>Actions</th>
		<th>&nbsp;</th>
	</tr>
	</thead>

	<tbody class="task-table__body">
	<tr class="task-table__item"
		*ngFor="let task of tasks | categoryFilter: filterProp | dateFilter: startDate: endDate; let i = index"
		[ngClass]="{'completed': task.isCompleted, 'overdue': isTaskOverdue(task.date)}">
		<td>{{i + 1}}</td>
		<td matTooltip="{{task.description}}">{{task.title}}</td>
		<td>
			{{task.priority}}
			<mat-icon *ngIf="task.priority === 'high'" color="warn" style="vertical-align: middle">whatshot</mat-icon>
		</td>
		<td>
			<mat-checkbox [checked]="task.isCompleted" #isCompleted
						  (change)="completeTask(task.$key, isCompleted.checked)" [color]="'primary'"></mat-checkbox>
		</td>
		<td>{{task.date | date}}</td>
		<td class="task-table__actions">
			<button [disabled]="task.isCompleted" class="edit-button" mat-mini-fab type="button"
					(click)="onSelect(task)" matTooltip="Edit task">
				<mat-icon>edit</mat-icon>
			</button>
			<button class="" mat-mini-fab (click)="deleteTask(task.$key)" [color]="'warn'" matTooltip="Delete task">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
		<td>
			<input type="hidden" [matDatepicker]="postponeDp" [min]="currentDate">
			<mat-datepicker #postponeDp [touchUi]="true"
							(selectedChanged)="postponeTask(task.$key, $event)"></mat-datepicker>
			<button mat-raised-button [disabled]="task.isCompleted" (click)="postponeDp.open()"
					matTooltip="Postpone your task to another day">Postpone
			</button>
		</td>
	</tr>
	</tbody>
</table>
<div class="flex-row flex-center">
	<h4 *ngIf="(tasks | categoryFilter: filterProp)?.length === 0 && !isProgress">No tasks were found...</h4>
	<mat-spinner *ngIf="isProgress" [strokeWidth]="4"></mat-spinner>
</div>
