<h2>My To Do List</h2>
<div class="row">
  <div class="col">
    <table class="table task-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Complete</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let task of tasks | async; let i = index">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td>{{task.priority | priority}}</td>
        <td>
          <md-checkbox name="isCompleted"></md-checkbox>
        </td>
        <td>
          <button class="edit-button" md-mini-fab type="button">
            <md-icon>edit</md-icon>
          </button>
          <button class="" md-mini-fab (click)="deleteTask(task.$key)" [color]="'warn'">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button md-fab class="add-button" (click)="toggleTaskForm()">
  <md-icon *ngIf="!isNewTask">add</md-icon>
  <md-icon *ngIf="isNewTask">remove</md-icon>
</button>
<div class="row new-task" *ngIf="isNewTask">
  <form [formGroup]="taskForm" novalidate class="task-form">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <input type="text" mdInput placeholder="Task title" formControlName="title">
          </md-input-container>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <input mdInput [mdDatepicker]="datepicker" placeholder="Choose a date" formControlName="date">
            <button mdSuffix [mdDatepickerToggle]="datepicker"></button>
          </md-input-container>
          <md-datepicker #datepicker></md-datepicker>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <textarea mdInput placeholder="Description"></textarea>
          </md-input-container>
        </div>
      </div>
      <div class="col-4">
        <fieldset class="form-group">
          <legend>Priority</legend>
          <div class="form-check form-check-inline" *ngFor="let priority of priorities">
            <md-radio-group formControlName="priority" [name]="'priority'">
              <md-radio-button [value]="priority">{{priority | priority | lowercase}}</md-radio-button>
            </md-radio-group>
          </div>
        </fieldset>
      </div>
    </div>
    <button md-raised-button (click)="addTask(taskForm.value)">Add</button>
  </form>
</div>
