<div class="row">
  <div class="col">
    <h2>My To Do List</h2>
  </div>
  <div class="col offset-4">
    <md-input-container class="" [color]="'accent'">
      <input mdInput [mdDatepicker]="dpFIlter" [(ngModel)]="currentDate">
      <button mdSuffix [mdDatepickerToggle]="dpFIlter"></button>
    </md-input-container>
    <md-datepicker #dpFIlter [touchUi]="false" [startAt]="startDate"></md-datepicker>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table task-table">
      <thead class="task-table__header">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Completed</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody class="task-table__body">
      <tr class="task-table__item" *ngFor="let task of tasks | async | dateFilter: currentDate; let i = index"
          [ngClass]="{'completed': task.isCompleted}">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td>{{task.priority | priority}}</td>
        <td>
          <md-checkbox [checked]="task.isCompleted" #isCompleted
                       (change)="completeTask(task.$key, isCompleted.checked)"></md-checkbox>
        </td>
        <td>{{task.date | date}}</td>
        <td class="task-table__actions">
          <button [disabled]="task.isCompleted" class="edit-button" md-mini-fab type="button">
            <md-icon>edit</md-icon>
          </button>
          <button class="" md-mini-fab (click)="deleteTask(task.$key)" [color]="'warn'">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button md-fab class="add-button" (click)="toggleTaskForm()">
  <md-icon *ngIf="!isNewTask">add</md-icon>
  <md-icon *ngIf="isNewTask">remove</md-icon>
</button>
<div class="row new-task" *ngIf="isNewTask">
  <form [formGroup]="taskForm" novalidate class="task-form col-12" (submit)="onSubmit()">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <input type="text" mdInput placeholder="Task title" formControlName="title">
          </md-input-container>
          <div [hidden]="taskForm.get('title').errors && !submitted">
            <span class="text-danger">{{getValidatorMessage(taskForm.get('title'), 'Title')}}</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <input mdInput [mdDatepicker]="datepicker" [min]="minDate" formControlName="date">
            <button mdSuffix [mdDatepickerToggle]="datepicker"></button>
          </md-input-container>
          <md-datepicker #datepicker [touchUi]="false" [startAt]="startDate"></md-datepicker>
          <div [hidden]="taskForm.get('date').errors && !submitted">
            <span class="text-danger">{{getValidatorMessage(taskForm.get('date'), 'Date')}}</span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <md-input-container class="task-form__field" [color]="'accent'">
            <textarea mdInput placeholder="Description" formControlName="description"></textarea>
            <div [hidden]="taskForm.get('description').errors && !submitted">
              <span class="text-danger">{{getValidatorMessage(taskForm.get('description'), 'Description')}}</span>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="col-4">
        <fieldset class="form-group">
          <legend>Priority</legend>
          <div class="form-check form-check-inline" *ngFor="let priority of priorities">
            <md-radio-group formControlName="priority" [name]="'priority'">
              <md-radio-button [value]="priority">{{priority | priority | lowercase}}</md-radio-button>
            </md-radio-group>
          </div>
        </fieldset>
      </div>
    </div>
    <button md-raised-button type="submit">Add</button>
  </form>
</div>
