@import "../../css/variables"

.task-table
  margin-top: 2rem
  thead
    background-color: lighten($main-color, 40%)
  tbody
    td
      vertical-align: middle

.edit-button
  margin-right: 1rem

.add-button
  background-color: #fff

.new-task
  margin-top: 2rem
.task-form
  &__field
    width: 100%
    font-size: 1.5rem
