<mat-toolbar color="primary" class="header">
	<button mat-button class="header__menu-btn" (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<div class="header__logo">
		<h1>To Do App</h1>
	</div>
</mat-toolbar>
<mat-sidenav-container class="mat-sidenav-container">
	<mat-sidenav [mode]="'over'" [opened]="false" #sidenav class="mat-sidenav">
		<nav class="app-navbar">
			<ul class="side-menu list-group">
				<li><a [routerLink]="['/task']" [routerLinkActive]="['active']">
					<mat-icon class="side-menu__icon">home</mat-icon>
					Home</a></li>
			</ul>
		</nav>
	</mat-sidenav>
	<main class="container-fluid main-content">
		<router-outlet></router-outlet>
	</main>
</mat-sidenav-container>
<footer></footer>
