@import "../css/variables"

\:host
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column

md-sidenav
  width: 240px
  background-color: $body-bg
  padding: 1.5rem 1.1rem 2rem

md-sidenav-container
  background-color: $body-bg
  flex: 1

.side-menu
  & > li
  a
    display: block
    padding: 0 1rem
    transition: background-color .3s
    line-height: 3rem
    color: $nav-link-color
    md-icon
      font-size: 1.3rem
      vertical-align: middle
    &:not(.active):hover
      background-color: rgba(0,0,0,.03)
    &.active
      font-weight: 700
      color: $main-color

.header
  background-color: $main-color
  padding: 1.5rem 0
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2)
  position: relative
  z-index: 10
  &__logo
    &>h1
      font-size: 1.3rem
      color: #ffffff

.main-content
  padding-top: 35px
  padding-bottom: 50px
