<header class="header">
  <div class="container-fluid">
    <div class="header__logo">
      <h1>To Do App</h1>
    </div>
  </div>
</header>
<md-sidenav-container>
  <md-sidenav mode="side" opened="false">
    <nav class="app-navbar">
      <ul class="side-menu list-group">
        <li><a [routerLink]="['/task']" [routerLinkActive]="['active']"><md-icon>home</md-icon>Home</a></li>
      </ul>
    </nav>
  </md-sidenav>
  <main class="container-fluid main-content">
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>
<footer></footer>
