@import "theme"
@import "css/variables"

html
	font-size: 14px

body
	background-color: $body-bg

.flex-menu
	display: flex
	align-items: center

.flex-row
	display: flex
	flex-direction: row

.flex-column
	display: flex
	flex-direction: column

.flex-left
	margin-left: auto !important

button
	&:focus
		outline: none

ul
	list-style: none

a
	outline: none
	cursor: pointer
	&:hover
		text-decoration: none

.full-width
	width: 100%
