<h2>My To Do List</h2>
<div class="task-board">
	<div class="">
		<mat-tab-group>
			<mat-tab label="Today tasks">
				<app-task-list-table [filterProp]="'today'"></app-task-list-table>
			</mat-tab>
			<mat-tab label="Overdue tasks">
				<app-task-list-table [filterProp]="'overdue'"></app-task-list-table>
			</mat-tab>
			<mat-tab label="All tasks">
				<div class="task-board__filter">
					<div class="">
						<mat-input-container class="full-width" [color]="'primary'">
							<input matInput [matDatepicker]="dpStartDate" placeholder="from" [(ngModel)]="startDate">
							<mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
						</mat-input-container>
						<mat-datepicker #dpStartDate [touchUi]="true" [startAt]="startDate"></mat-datepicker>
					</div>
					<div class="">
						<mat-input-container class="full-width" [color]="'primary'">
							<input matInput [matDatepicker]="dpEndDate" placeholder="to" [(ngModel)]="endDate">
							<mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
						</mat-input-container>
						<mat-datepicker #dpEndDate [touchUi]="true" [startAt]="endDate"></mat-datepicker>
					</div>
				</div>
				<app-task-list-table [startDate]="startDate" [endDate]="endDate"></app-task-list-table>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
