<div class="row justify-content-between">
  <div class="col-8">
    <h1>My To Do List</h1>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <md-input-container class="" [color]="'accent'">
          <input mdInput [mdDatepicker]="dpStartDate" placeholder="from" [(ngModel)]="startDate">
          <button mdSuffix [mdDatepickerToggle]="dpStartDate"></button>
        </md-input-container>
        <md-datepicker #dpStartDate [touchUi]="false" [startAt]="startDate"></md-datepicker>
      </div>
      <div class="col">
        <md-input-container class="" [color]="'accent'">
          <input mdInput [mdDatepicker]="dpEndDate" placeholder="to" [(ngModel)]="endDate">
          <button mdSuffix [mdDatepickerToggle]="dpEndDate"></button>
        </md-input-container>
        <md-datepicker #dpEndDate [touchUi]="false" [startAt]="endDate"></md-datepicker>
      </div>
    </div>
  </div>
</div>
<div class="row task-board">
  <div class="col">
    <md-tab-group>
      <md-tab label="Today tasks">
        <app-task-list-table [filterProp]="'today'"></app-task-list-table>
      </md-tab>
      <md-tab label="Overdue tasks">
        <app-task-list-table [filterProp]="'overdue'"></app-task-list-table>
      </md-tab>
      <md-tab label="All tasks">
        <app-task-list-table></app-task-list-table>
      </md-tab>
    </md-tab-group>
  </div>
</div>
