<div class="row justify-content-between">
  <div class="col-8">
    <h1>My To Do List</h1>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <md-input-container class="" [color]="'accent'">
          <input mdInput [mdDatepicker]="dpStartDate" placeholder="from" [(ngModel)]="startDate">
          <button mdSuffix [mdDatepickerToggle]="dpStartDate"></button>
        </md-input-container>
        <md-datepicker #dpStartDate [touchUi]="false" [startAt]="startDate"></md-datepicker>
      </div>
      <div class="col">
        <md-input-container class="" [color]="'accent'">
          <input mdInput [mdDatepicker]="dpEndDate" placeholder="to" [(ngModel)]="endDate">
          <button mdSuffix [mdDatepickerToggle]="dpEndDate"></button>
        </md-input-container>
        <md-datepicker #dpEndDate [touchUi]="false" [startAt]="endDate"></md-datepicker>
      </div>
    </div>
  </div>
</div>
<div class="row task-board">
  <div class="col">
    <table class="table task-table">
      <thead class="task-table__header">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Completed</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="task-table__body" *ngIf="!isProcessing">
      <tr class="task-table__item" *ngFor="let task of tasks | async | dateFilter: startDate: endDate; let i = index"
          [ngClass]="{'completed': task.isCompleted}">
        <td>{{i + 1}}</td>
        <td mdTooltip="{{task.description}}">{{task.title}}</td>
        <td>{{task.priority | priority}}</td>
        <td>
          <md-checkbox [checked]="task.isCompleted" #isCompleted
                       (change)="completeTask(task.$key, isCompleted.checked)"></md-checkbox>
        </td>
        <td>{{task.date | date}}</td>
        <td class="task-table__actions">
          <button [disabled]="task.isCompleted" class="edit-button" md-mini-fab type="button"
                  (click)="onSelect(task)">
            <md-icon>edit</md-icon>
          </button>
          <button class="" md-mini-fab (click)="deleteTask(task.$key)" [color]="'warn'">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <md-progress-spinner class="task-loader" *ngIf="isProcessing" [mode]="'indeterminate'"
                       [strokeWidth]="'5'"></md-progress-spinner>
</div>
